<div class="container-liquid">
    <footer class="site-footer bg-dark shadow-sm">
    <div style="padding:15px;" class="align-items-center text-center">

      {% for externalLink in site.data.externalWebsiteLinks.links %}

        <a class="" style="padding:5px;" href="{{ externalLink.url }}" target="_blank">{{ externalLink.title }}</a>

      {% endfor %}

        <a class="" style="padding:5px;" href="{{ site.github.repository_url }}" target="_blank">Contribute to the site @ TUoS GitHub</a>


    </div>
    <div class="align-middle text-center">
      {% for externalLinkIcon in site.data.externalWebsiteLinks.linkImages %}

          <a href="{{ externalLinkIcon.href }}" target="_blank" rel="noopener noreferrer"><img class="" style="height:140px;padding:10px;" src="{{ externalLinkIcon.image }}" alt=""></a>

      {% endfor %}
    </div>

    <div style="background-color: #191c1f; margin-top:10px;padding:10px;" class="row align-items-center">
        <small class="text-center text-muted">Copyright &copy; <a href="https://www.sheffield.ac.uk" target="_blank">The University of Sheffield</a> - <a href="https://www.sheffield.ac.uk/it-services/research" target="_blank">Research IT</a> <script>document.write(new Date().getFullYear())</script></small>
    </div>
  </footer>
</div>