// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #7c7c7c !default;
$header-bg-color: #fff !default;

// Text
$section-headings-color: #4B81AC !default;
$body-text-color: #606c71 !default;
$body-link-color: #d4c89e !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #cfd2d2 !default;
$hr-border-color: #eff0f1 !default;

