  @-webkit-keyframes violet-flash {
    60% {
        background: #fff ;
      }
      70% {
        background:#5c3a8f;
      }
      80% {
          background: #fff ;
        }
      90% {
      background:#5c3a8f;
      }
      100% {
          background: #fff ;
      }
    }
  @-moz-keyframes violet-flash {
    60% {
        background: #fff ;
      }
      70% {
        background:#5c3a8f;
      }
      80% {
          background: #fff ;
        }
      90% {
      background:#5c3a8f;
      }
      100% {
          background: #fff ;
      }
    }
  @keyframes violet-flash {
    60% {
      background: #fff ;
    }
    70% {
      background:#5c3a8f;
    }
    80% {
        background: #fff ;
      }
    90% {
    background:#5c3a8f;
    }
    100% {
        background: #fff ;
    }
  }
  #flash-it {
    -webkit-animation: violet-flash 2.5s linear alternate 0.5s;
    -moz-animation: violet-flash 2.5s linear alternate 0.5s;
    -o-animation: violet-flash 2.5s linear alternate 0.5s;
    animation: violet-flash 2.5s linear alternate 0.5s;
  }

  #flash-it-delayed {
    -webkit-animation: violet-flash 2.5s linear alternate 3.0s;
    -moz-animation: violet-flash 2.5s linear alternate 3.0s;
    -o-animation: violet-flash 2.5s linear alternate 3.0s;
    animation: violet-flash 2.5s linear alternate 3.0s;
  }